.container {
    opacity: 0;
    visibility: visible;
    height: auto;
    min-height: 566px;
    padding-bottom: 58px;
    position: relative;
    overflow: hidden;/*evita probelmas de float*/
    z-index: 1;
}
