.nav {
    left:100%;
    opacity: 0;
    text-align: center;
    display: block;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 60px;
    background: #181818;
    transition: all 0.3s ease-in-out;
}

.nav.show {
    left: 0;
    opacity: 1;
}

.nav a {
    position: relative;
    width: 20%;
    height: 100%;
    display: inline-block;
    line-height: 60px;
}

.nav i{
    position: relative;
    font-size: 22px;
    color: white;
    line-height: 1;
}