.preloader {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*background: #252627;*/
    background: gold;
    z-index: 2;
    overflow: hidden;
}