.container.about-page .text-zone h1{
    color: #edc000;
    position: relative;
    margin-bottom: 40px;
}

.container.about-page .text-zone h1:after{
    content: "</h1>";
    position: absolute;
    left: 0;
    bottom: -35px;
    color: #515152;
    font-size: 18px;
    margin-top: -35px;
    font-family: 'La Belle Aurore', cursive;
}

.container.about-page .text-zone p{
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}